In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('data.csv')

In [7]:
promedio_edad = df['Age'].mean()
promedio_edad

16.468645484949832

In [30]:
valores_nulos_por_columna = df.isnull().sum()
valores_nulos_por_columna

StudentID            0
Age                  0
Gender               0
Ethnicity            0
ParentalEducation    0
StudyTimeWeekly      0
Absences             0
Tutoring             0
ParentalSupport      0
Extracurricular      0
Sports               0
Music                0
Volunteering         0
GPA                  0
GradeClass           0
dtype: int64

In [11]:
genero_mas_repetido =df['Gender'].mode()

In [12]:
hombres = (df['Gender']==0).sum()

Encontrar:
1. Cantidad de mujeres.
2. La cantidad de estudiantes que practican deportes.
3. La cantidad de estudiantes que practican deportes por género.
4. La cantidad de personas que van a tutorías.
5. La cantidad de personas que van a tutorías por género.
6. El tiempo de estudio máximo y mínimo por semana.

In [32]:
Mujeres = (df['Gender']==1).sum()
Mujeres

1222

In [38]:
personas_deportes = (df['Sports']==1).sum()
personas_deportes

726

In [45]:
genero_deportistas = df.groupby('Gender')['Sports'].sum()
genero_deportistas

Gender
0    360
1    366
Name: Sports, dtype: int64

In [46]:
personas_tutoria = (df['Tutoring']==1).sum()
personas_tutoria

721

In [47]:
genero_tutoria = df.groupby('Gender')['Tutoring'].sum()
genero_tutoria

Gender
0    370
1    351
Name: Tutoring, dtype: int64

In [53]:
estudio_semana = df['StudyTimeWeekly'].min()
estudio_semana

0.001056538645936

In [54]:
estudio_semana = df['StudyTimeWeekly'].max()
estudio_semana

19.97809399526153

In [55]:
ausencias_genero = df.groupby('Gender')['Absences'].sum()
ausencias_genero

Gender
0    16796
1    17987
Name: Absences, dtype: int64

# Sección nueva